<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574267432553-4b4628081c31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80);">
  <div class="container">
    <h1>Create your own movie lists</h1>
    <%= link_to "Start now", new_list_path, class: "btn" %>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
  </div>
    <div class="row">
        <% @lists.each do |list| %>
        <div class="card" style="width: 18rem;">
          <div class="raw">
            <img class="card-img-top" src="..." alt="Card image cap">
            <%= link_to raw('<i class="far fa-times-circle"></i>'), list_path(list), method: :delete,  class:"col-3" %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <%= link_to 'Show', list, class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/wassana7"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/wassana-sengsavang/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This web app is made with <i class="fas fa-heart"></i> by Wassana
  </div>
</div>
