.btn {
  color: black;
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  }

  .btn:hover {
  color: lightgray;
  background-color: black;
  }

.btn-back {
  color: white;
  background-color:black;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  }
 .btn-back:hover {
  color: black;
  background-color: lightgrey;
  border: 1px solid black;
  }
